<p-virtualScroller [value]="virtualModules" scrollHeight="900px" [itemSize]="45">
  <ng-template pTemplate="header">
    <div class="floating-caption-container">
      <span class="table-caption">Choose a tutoring module!</span>
    </div>
    <div class="right-action-bar">
      <label>Find your module: </label>
      <input pInputText (input)="filterModules()" [(ngModel)]="filterString">
      <button *ngIf="isAdmin" pButton icon="pi pi-plus" label="Add Module"
        (click)="moduleCreate.toggleOverlay($event)"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-module>
    <div class="module-container">
      <a [routerLink]="'modules/' + module.id">{{module.name}}</a>
    </div>
  </ng-template>
</p-virtualScroller>

<app-module-create #moduleCreate (moduleCreated)="addCreatedModule($event)" [existingModules]="allModules">
</app-module-create>