<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table #dt [value]="tutors" [columns]="columns" dataKey="id" [paginator]="true" [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0">
  <ng-template pTemplate="caption">
    <div
      [class]="canApplyForTutoring || canResignFromTutoring ? 'floating-caption-container' : 'alone-caption-container'">
      <span class="table-caption">Tutors ({{tutors.length}})</span>
    </div>
    <div class="right-action-bar">
      <p-checkbox *ngIf="isStudent" class="filter-checkbox" [binary]="true" label="Only my tutors"
        (onChange)="filterMyTutors($event.checked)">
      </p-checkbox>
      <button *ngIf="canApplyForTutoring" pButton class="p-button-success" (click)="openApplicationDialog()"
        label="Apply for Tutoring!"></button>
      <button *ngIf="canResignFromTutoring" pButton class="p-button-danger" (click)="confirmResignation()"
        label="Resign from Tutoring"></button>
      <app-module-tutor-application-dialog [header]="tutoringApplicationHeader" [isVisible]="isApplicationDialogVisible"
        (applicationCancelled)="closeApplicationDialog()" (userApplied)="apply($event)">
      </app-module-tutor-application-dialog>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{ width: '13.5%' }">
        <div>
          <span>{{col.header}}</span>
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </div>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tutor>
    <tr>
      <td>{{tutor.name}}</td>
      <td>{{tutor.faculty}}</td>
      <td>{{tutor.studyBranch}}</td>
      <td>{{tutor.studentCycleDisplay}}</td>
      <td>{{tutor.studentYearDisplay}}</td>
      <td>{{tutor.averageScore}}</td>
      <td>{{tutor.tutoringSessionCount}}</td>
      <td class="action-column">
        <button *ngIf="isStudent && tutor.isAddable" pButton class="p-button-success" icon="pi pi-plus"
          (click)="addStudentTutor(tutor)"></button>
        <button *ngIf="isStudent && !tutor.isAddable" pButton class="p-button-danger" icon="pi pi-trash"
          (click)="confirmTutorRemove(tutor)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No tutors found yet - be first to apply!
      </td>
    </tr>
  </ng-template>
</p-table>