<p-toast></p-toast>
<div class="form-container">
  <h1>Registration</h1>
  <div class="p-grid p-fluid" [formGroup]="registrationFormGroup">
    <div class="p-col-6">
      <input pInputText formControlName="email" placeholder="Email">
    </div>
    <div class="p-col-6">
      <input pInputText formControlName="password" placeholder="Password" type="password">
    </div>
    <div class="p-col-6">
      <input pInputText formControlName="firstName" placeholder="First Name">
    </div>
    <div class="p-col-6">
      <input pInputText formControlName="confirmPassword" placeholder="Confirm Password" type="password">
    </div>
    <div class="p-col-6">
      <input pInputText formControlName="lastName" placeholder="Last Name">
    </div>
    <div class="p-col-6">
      <p-dropdown formControlName="studentCycle" placeholder="Choose Cycle" [options]="cycleOptions"></p-dropdown>
    </div>
    <div class="p-col-6">
      <p-dropdown formControlName="studentYear" placeholder="Choose Year" [options]="yearOptions"></p-dropdown>
    </div>
    <div class="p-col-6">
      <p-dropdown formControlName="faculty" placeholder="Choose Faculty" [options]="facultyOptions"></p-dropdown>
    </div>
    <div class="p-col-6">
      <p-dropdown formControlName="studyBranch" placeholder="Choose Study Branch" [options]="studyBranchOptions"></p-dropdown>
    </div>
  </div>
  <button pButton label="Register" (click)="register()"></button>
</div>