<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div *ngIf="assignments.length" class="assignments">
  <h1>Assignments:</h1>
  <ol>
    <li *ngFor="let assignment of assignments">
      <a [routerLink]="currentRoute"
        (click)="downloadFile(assignment.id, assignment.fileName)">{{assignment.fileName}}</a>
      <span *ngIf="assignment.submissionFileName">
        <span> - </span>
        <a [routerLink]="currentRoute" (click)="downloadFile(assignment.id, assignment.submissionFileName)"
          [style.font-weight]="'bold'">{{assignment.submissionFileName}}</a>
        <span *ngIf="!assignment.submissionEvaluation">
          <button pButton class="p-button-text" icon="pi pi-pencil"
            (click)="openEvaluationDialog(assignment.id)"></button>
        </span>
        <span *ngIf="assignment.submissionEvaluation">
          ({{assignment.submissionEvaluation}})
        </span>
      </span>
      <span class="assignment-delete-button">
        <button pButton class="p-button-danger p-button-text" icon="pi pi-trash"
          (click)="confirmAssignmentDelete(assignment.id)"></button>
      </span>
    </li>
  </ol>
</div>

<div class="chat-header">
  <div>
    <span class="participant-name">
      {{studentName}}
    </span>
    <span class="action-bar">
      <button pButton label="Create Session" class="p-button-success" icon="pi pi-plus"
        (click)="initializeTutoringSessionCreation()"></button>
      <span class="assignments-upload-button">
        <p-fileUpload [multiple]="true" [auto]="true" [customUpload]="true" (uploadHandler)="updateAssignments($event)"
          accept=".pdf" chooseLabel="Upload Assignments" mode="basic">
        </p-fileUpload>
      </span>
      <button pButton label="Ignore" (click)="confirmStudentIgnore()" class="p-button-danger"></button>
    </span>
  </div>
</div>
<app-chat [receiverId]="studentId" [moduleId]="moduleId"></app-chat>

<p-dialog header="Create a New Session!" [modal]="true" [(visible)]="isSessionCreationDialogVisible">
  <div [style.margin-bottom]="'0.5em'">
    <p-calendar [showTime]="true" [inline]="true" [minDate]="minSessionDate"
      [(ngModel)]="tutoringSessionNew.sessionDate"></p-calendar>
  </div>
  <p-checkbox [binary]="true" [(ngModel)]="tutoringSessionNew.isSubscribed" label="Is Subscribed"></p-checkbox>
  <button [style.float]="'right'" pButton class="p-button-success" label="Create"
    (click)="createNewTutoringSession()"></button>
</p-dialog>


<p-dialog header="Evaluate this submission (1 - 10)" [modal]="true" [(visible)]="isEvaluationDialogVisible">
  <input pInputText type="number" [(ngModel)]="evaluation" [style.width]="'60px'">
  <button pButton label="Evaluate" (click)="evaluateSubmission()"
    [disabled]="evaluation < 1 || evaluation > 10"></button>
</p-dialog>