<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div *ngIf="assignments.length" class="assignments">
  <h1>Assignments:</h1>
  <ol>
    <li *ngFor="let assignment of assignments">
      <span>{{assignment.fileName}}</span>
      <span *ngIf="assignment.submissionFileName">
        <span [style.font-weight]="'bold'"> - {{assignment.submissionFileName}}</span>
      </span>
      <span class="assignment-delete-button">
        <button pButton class="p-button-danger p-button-text" icon="pi pi-trash"
          (click)="confirmAssignmentDelete(assignment.id)"></button>
      </span>
    </li>
  </ol>
</div>

<div class="chat">
  <div class="action-bar">
    <button pButton label="Create Session" class="p-button-success" icon="pi pi-plus"
      (click)="initializeTutoringSessionCreation()"></button>
    <button pButton label="Update Assignments" (click)="isAssignmentUploadDialogVisible = true"></button>
  </div>

  <app-chat [receiverId]="studentId" [moduleId]="moduleId"></app-chat>
</div>

<p-dialog header="Create a New Session!" [modal]="true" [(visible)]="isSessionCreationDialogVisible">
  <div [style.margin-bottom]="'0.5em'">
    <p-calendar [showTime]="true" [inline]="true" [minDate]="minSessionDate"
      [(ngModel)]="tutoringSessionNew.sessionDate"></p-calendar>
  </div>
  <p-checkbox [binary]="true" [(ngModel)]="tutoringSessionNew.isSubscribed" label="Is Subscribed"></p-checkbox>
  <button [style.float]="'right'" pButton class="p-button-success" label="Create"
    (click)="createNewTutoringSession()"></button>
</p-dialog>


<p-dialog header="Update student's assignments" [modal]="true" [(visible)]="isAssignmentUploadDialogVisible">
  <p-fileUpload [multiple]="true" [auto]="true" [customUpload]="true" (uploadHandler)="updateAssignments($event)"
    accept=".pdf" label="Upload Assignments">
  </p-fileUpload>
</p-dialog>