<div class="action-bar">
  <button pButton label="Create Session" class="p-button-success" icon="pi pi-plus"
    (click)="initializeTutoringSessionCreation()"></button>
</div>
<app-chat [receiverId]="studentId" [moduleId]="moduleId"></app-chat>
<p-dialog header="Create a New Session!" [modal]="true" [(visible)]="isSessionCreationDialogVisible">
  <div [style.margin-bottom]="'0.5em'">
    <p-calendar [showTime]="true" [inline]="true" [minDate]="minSessionDate"
      [(ngModel)]="tutoringSessionNew.sessionDate"></p-calendar>
  </div>
  <p-checkbox [binary]="true" [(ngModel)]="tutoringSessionNew.isSubscribed" label="Is Subscribed"></p-checkbox>
  <button [style.float]="'right'" pButton class="p-button-success" label="Create"
    (click)="createNewTutoringSession()"></button>
</p-dialog>