.assignments {
  max-height: 175px;
  overflow-y: scroll;
}

.assignment-delete-button > .p-button {
  vertical-align: middle;
}
.assignments-upload-button {
  display: inline-block;
}

.chat-header {
  background-color: gainsboro;
  height: 55px;
}

.action-bar {
  position: absolute;
  right: 25px;
}

.action-bar > * {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.participant-name {
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
  left: 20px;
  margin-top: 0.3em;
}