.action-bar {
  background-color: gainsboro;
}

.action-bar > * {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.assignments {
  max-height: 175px;
  overflow-y: scroll;
}

.assignment-delete-button > .p-button {
  vertical-align: middle;
}