textarea {
  max-width: 100%;
  max-height: 200px;
}

.chat-message-container {
  margin-bottom: 0.5em;
}

.chat-message-container > .sent-message {
  margin-right: 30%;
  margin-left: 0.5em;
}

.chat-message-container > * > .title {
  font-style: italic;
}

.chat-message-container > .sent-message > .title::after {
  content: ':'
}

.chat-message-container > .received-message > .title::before {
  content: ':'
}

.chat-message-container > .received-message {
  margin-left: 30%;
  margin-right: 0.8em;
  text-align: right;
}