<p-toast></p-toast>

<div *ngIf="assignments.length" class="assignments">
  <h1>Assignments:</h1>
  <ol>
    <li *ngFor="let assignment of assignments">
      <a [routerLink]="currentRoute"
        (click)="downloadFile(assignment.id, assignment.fileName)">{{assignment.fileName}}</a>
      <span *ngIf="assignment.submissionFileName">
        <span> - </span>
        <a [routerLink]="currentRoute" (click)="downloadFile(assignment.id, assignment.submissionFileName)"
          [style.font-weight]="'bold'">{{assignment.submissionFileName}}</a>
        <span *ngIf="assignment.submissionEvaluation">
          ({{assignment.submissionEvaluation}})
        </span>
      </span>
      <span class="submission-upload-button">
        <p-fileUpload chooseLabel="Submit" chooseIcon="pi pi-plus" [auto]="true" [customUpload]="true"
          (uploadHandler)="uploadSubmission($event, assignment.id)" mode="basic" [maxFileSize]="5242880"></p-fileUpload>
      </span>
    </li>
  </ol>
</div>
<div class="chat-header">
  <div>
    <span class="participant-name">
      {{tutorName}}
    </span>
  </div>
</div>
<app-chat [receiverId]="tutorId" [moduleId]="moduleId"></app-chat>