:host ::ng-deep .p-toolbar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10000;
  top: 0;
  margin-bottom: 0.5em;
}

:host ::ng-deep .p-menu {
  position: absolute;
  top: 60px !important;
}

.icon-container {
  margin: -0.3em;
}

.icon-container:hover {
  background-color: gainsboro;
  border-radius: 50px;
}

.icon-container > i {
  cursor: pointer;
  font-size: 30px;
  margin: 0.2em;
}

.title {
  font-weight: bold;
  font-size: xx-large;
}
