<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-table #dt [value]="users" [columns]="columns" dataKey="id" [paginator]="true" [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]" [filterDelay]="0">
  <ng-template pTemplate="caption">
    <div>
      <span class="table-caption">Unconfirmed Users ({{users.length}})</span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{ width: '15%' }">
        <div>
          <span>{{col.header}}</span>
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </div>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.faculty}}</td>
      <td>{{user.studyBranch}}</td>
      <td>{{user.studentCycleDisplay}}</td>
      <td>{{user.studentYearDisplay}}</td>
      <td class="action-column">
        <button pButton class="p-button-success" icon="pi pi-check" (click)="confirmUser(user)"></button>
        <button pButton class="p-button-danger" icon="pi pi-times" (click)="openRejectionDialog(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-user-rejection-dialog [isVisible]="isRejectionDialogVisible" [header]="rejectionDialogHeader"
  (userRejected)="rejectUser($event)" (rejectionCanceled)="cancelRejection()"></app-user-rejection-dialog>