/* You can add global styles to this file, and also import other style files */

.p-toast {
  margin-top: 70px;
}

.form-container {
  margin-left: 25%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 50%;
  background-color: gainsboro;
  text-align: center;
}