<p-dialog [header]="header" [(visible)]="isVisible" [modal]="true" [closable]="false">
  <div>
    <textarea class="rejection-textarea" pInputTextarea [(ngModel)]="rejectionReason"></textarea>
  </div>
  <div>
    <button pButton class="p-button-danger" label="Reject user" (click)="rejectUser()"
      [disabled]="rejectionReason.length <= 0"></button>
    <button [style.float]="'right'" pButton class="p-button-secondary" label="Cancel"
      (click)="cancelRejection()"></button>
  </div>
</p-dialog>