<p-toast position="top-center">
  <ng-template let-message pTemplate="message">
    <span>
      You have ongoing tutoring session. Click
      <a [routerLink]="message.detail">here</a>
      to join.
    </span>
  </ng-template>
</p-toast>
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>

<p-dialog [header]="evaluationHeader" [modal]="true" [(visible)]="isTutoringEvaluationVisible">
  <div [style.text-align]="'center'" class="p-grid">
    <div class="p-col-12">
      <p-rating [(ngModel)]="evaluation"></p-rating>
    </div>
    <div class="p-col-12">
      <textarea pInputTextarea placeholder="Comments" [(ngModel)]="evaluationComment"></textarea>
    </div>
    <div class="p-col-12">
      <button pButton label="Evaluate" (click)="evaluateTutor()"></button>
    </div>
  </div>
</p-dialog>