<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div *ngIf="isAuthenticated$ | async">
  <p-tabView>
    <p-tabPanel header="Modules">
      <app-module-list></app-module-list>
    </p-tabPanel>
    <p-tabPanel *ngIf="isAdmin" header="Unconfirmed users">
      <app-unconfirmed-user-table></app-unconfirmed-user-table>
    </p-tabPanel>
    <p-tabPanel *ngIf="isAdmin" header="Tutoring applications">
      <app-tutoring-application-table></app-tutoring-application-table>
    </p-tabPanel>
  </p-tabView>
</div>
<div *ngIf="!messages.length && !(isAuthenticated$ | async)">
  <p-messages severity="info">
    <ng-template pTemplate>
      <span>
        <i class="pi pi-exclamation-circle"></i>
        <span>
          This website was designed for KTU members only. If you are part of KTU community, you may <a
            routerLink="register">register</a> / <a routerLink="login">login</a>.
        </span>
      </span>
    </ng-template>
  </p-messages>
</div>